<ion-content [fullscreen]="true">

  <ion-slide>
    <img src="assets\images\landing.jpg"/>
    <h1><strong>Food Company</strong></h1>
    <p>Order now and come to fetch your order after quick <b> 30 minutes.</b></p>
    <ion-button fill="clear" (click)="navigate()" >Order Now! <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
  </ion-slide>

  <ion-footer>
    <ion-toolbar>
      <ion-title class="center" style="font-size: smaller;">K-S © 2021</ion-title>
    </ion-toolbar>
  </ion-footer>
  
</ion-content>