<ion-content fullscreen>
  <ion-card>
    <div #map class="map"></div>
    <ion-card-header>
      <ion-card-subtitle>Our Current Outlet Location</ion-card-subtitle>
      <ion-card-title>Where to find us?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Address: 
      <strong>Caudan,
      Port Louis, Mauritius.</strong>
      <br>
      Contact Number: <strong>+230 12345678.</strong>
      <br>Open on:<br>
      <strong>Weekdays from 08:00 to 19:30</strong>
      <br><strong>Saturdays from 08.00 to 22:00</strong>
      <br><strong>Sundays and Public Holiday from 08:00 to 13:00</strong>
    </ion-card-content>
  </ion-card>
</ion-content>