<ion-content fullscreen>
  <ion-card>
    <div #map class="map"></div>
    <ion-card-header>
      <ion-card-subtitle>Our Current Outlet Location</ion-card-subtitle>
      <ion-card-title>Where to find us?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Address: 
      Caudan, Port Louis
      Mauritius.
      <br>
      Contact Number: +230 12345678
      <hr>
      <strong>Available on Weekdays 8.00 to 20.00</strong>
      <br> <strong>Available on Weekends 8.00 to 15.00</strong>
    </ion-card-content>
  </ion-card>
</ion-content>